li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
.header {
text-align: center;
background-color: #185494;
}

body {
  background-image: url('https://image.freepik.com/free-vector/burger-seamless-pattern-background-vector-design_22159-34.jpg');
}

.had{
  background-color:#FAAF18;
}
.try{
  background-color:#FAAF18;
}
.add{
  background-color:#FAAF18;
  align-content: center;
}